@use "../../../styles/breakpoints.scss" as *;
@use "../../../styles/colors.scss" as *;

.skills {
  padding: 1rem 0;
}

.skillList {
  & > *:where(:not(:first-child)) {
    margin-top: 1rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.categoryName {
  font-weight: 700;
  color: $accent
}

.skillCategoryList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

@media only screen and (min-width: $breakpoint-sm) {
  .skillList {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: initial;
    flex-wrap: wrap;
  }
}
