@use "../../../styles/colors.scss" as *;

.button {
  cursor: pointer;
  padding-inline: 1rem;
  display: inline-block;
}

.primaryButton {
  background-color: $primary;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
}

.secondaryButton {
  background-color: transparent;
  border: none;
  outline: 1px solid $primary;
  color: $primary;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
}
