@use "../../../styles/breakpoints.scss" as *;

.button {
  border: none;
  background-color: transparent;
  display: block;
  cursor: pointer;
}

@media only screen and (min-width: $breakpoint-sm) {
  .button { 
    display: none;
  }
}
