$main-color: #191724;

$body-color: #191724;

// neutral colors
$white-100: #fff;

$grey-50: #f7fafc;
$grey-100: #edf2f7;
$grey-200: #e2e8f0;
$grey-300: #cbd5e0;

// Accent colors
$accent: #f6c17a;

// Primary colors
$primary: #56949f;
